<form class="flexcol {{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description_tab">Description</a>
        <a class="item" data-tab="attributes_tab">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary" data-tab="description_tab">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        <div class="tab" data-group="primary" data-tab="attributes_tab">
            <div class="attribute">
                <label>Range</label>
                <input type="number" name="data.range" value="{{data.range}}" />
            </div>
            <div class="attribute">
                <label>Hands</label>
                <select name="data.hands">
                    {{#select data.hands}}
                    <option value="one-handed">One-Handed</option>
                    <option value="two-handed">Two-Handed</option>
                    {{/select}}
                </select>
            </div>
            <div class="attribute">
                <label>Damage</label>
                <input class="formula" type="text" name="data.damage_dice"
                    value="{{data.damage_dice}}" />
            </div>
            <div class="attribute">
                <label>Attack Stat</label>
                <select name="data.attack_stat">
                    {{#select data.attack_stat}}
                    <option value="strength">Strength</option>
                    <option value="dexterity">Dexterity</option>
                    <option value="constitution">Constitution</option>
                    <option value="intelligence">Intelligence</option>
                    <option value="wisdom">Wisdom</option>
                    <option value="charisma">Charisma</option>
                    {{/select}}
                </select>
            </div>
            <div class="attribute">
                <label>Damage Stat</label>
                <select name="data.damage_stat">
                    {{#select data.damage_stat}}
                    <option value="strength">Strength</option>
                    <option value="dexterity">Dexterity</option>
                    <option value="constitution">Constitution</option>
                    <option value="intelligence">Intelligence</option>
                    <option value="wisdom">Wisdom</option>
                    <option value="charisma">Charisma</option>
                    {{/select}}
                </select>
            </div>
            <div class="phrases">
                <header class="header">
                    <span class="label">Usage Phrases</span>
                    <a class="add-button" data-action="create"><i class="fas fa-plus"></i></a>
                </header>
                <div class="list">
                {{#each data.usage_phrases as |item key|}}
                    <div class="row" data-key="{{key}}">
                        <textarea name="data.usage_phrases.{{key}}">{{item}}</textarea>
                        <a class="delete-button"><i class="fas fa-trash"></i></a>
                    </div>
                {{/each}}
                </div>
            </div>
        </div>

    </section>
</form>
