.dnd .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
}

.dnd form {
  height: 100%;
}

.dnd .sheet-header {
  flex: 0 0 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.dnd .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
  border: none;
}

.dnd .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.dnd .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.dnd .tabs {
  flex: 0 0 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.dnd .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.dnd .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.dnd .sheet-body {
  overflow: hidden;
}

.dnd .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}

.dnd.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}

.dnd.sheet.item {
  min-width: 460px;
  min-height: 400px;
}

.chat-template.caption {
    color: white;
    text-shadow: 2px 2px black;
    padding: 3px;
    background-color: rgba(120, 120, 120, 0.5);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
}
.chat-template.caption > * {
    margin: 4px;
}
.chat-template.caption > img {
    border-radius: 4px;
}
.chat-template.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(120, 120, 120, 0.5);
}
.chat-template.item > * {
    margin: 4px;
}
.chat-template.list {
    border-radius: 5px;
    background-color: rgba(200, 200, 200, 0.5);
}
.chat-template.label {
    margin: 0;
    font-weight: bold;
    width: 50%;
    text-align: center;
}
.chat-template.roll {
    margin: 0;
    display: flex;
    width: 50%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.chat-template.roll .chat-template.formula {
    width: 100%;
    text-align: center;
    padding: 4px;
    color: rgba(128, 128, 128, 0.75);
    display: none;
}
.chat-template.roll .chat-template.total {
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 4px;
    background-color: rgba(120, 120, 120, 0.1);
    font-weight: bold;
    border: 2px solid rgba(120, 120, 120, 0.5);
    border-radius: 4px;
}

div.dnd.system {
    color: #000000;
    background-color: rgba(100, 100, 100, 0.5);
    padding: 2px;
    border-radius: 4px;
}

div.dnd.emote,
div.dnd.narrate {
    color: green;
    font-style: italic;
}

div.dnd.story {
    color: crimson;
    text-shadow: 1px 1px 0 black;
}

div.dnd.ooc {
    color: grey;
    background: lightgrey;
    border-radius: 4px;
    padding: 2px;
}

img.inline-img {
    display: inline;
    margin: 0 5px;
    vertical-align: middle;
    border: none;
}

img.dnd.emoji {
    display: inline;
    margin: 2px;
    vertical-align: middle;
    border: none;
}

#chat-controls .roll-type-select,
#chat-controls .chat-control-icon {
    display: none;
}

#pause img {
    content:url("../images/pause.png");
    animation: none;
}

form.item-create div.row {
    padding: 4px;
}

.dnd .inventory div.item {
    flex-flow: row nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.06);
    margin: 4px;
    border-radius: 2px;
}

.dnd .inventory div.item label {
    flex: 1;
    margin: 4px;
}

.dnd .inventory div.item button {
    flex: 0 0 0px;
}

.dnd.sheet nav.sheet-tabs {
    height: 40px;
}

.dnd .editor,
.dnd .editor-content {
    height: 100%;
}

.dnd .invisible {
    display: none;
}

.dnd .attribute {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 2px;
}

.dnd .attribute label {
    flex: 0 0 100px;
}

.dnd .attribute input,
.dnd .attribute select {
    flex: 1;
}

.dnd .header {
    padding: 5px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #AAA;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}

.dnd .header {
    display: flex;
    flex-flow: row nowrap;
}

.dnd .header span {
    flex: 1;
    margin: 0px 4px;
}

.dnd .header .add-button {
    margin: 0px 4px;
}

.dnd .list {
    display: flex;
    flex-flow: column nowrap;
}

.dnd .list .row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.dnd .list .row input {
    flex: 1;
    margin: 4px;
}

.dnd .list .row .delete-button {
    margin: 4px;
}

.dnd .phrases .list .row input {
    font-family: monospace;
}

.dnd input.formula {
    font-family: monospace;
}
