.dnd .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
}

.dnd form {
  height: 100%;
}

.dnd .sheet-header {
  flex: 0 0 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.dnd .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
  border: none;
}

.dnd .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.dnd .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.dnd .tabs {
  flex: 0 0 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.dnd .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.dnd .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.dnd .sheet-body {
  overflow: hidden;
}

.dnd .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}

.dnd.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}

.dnd.sheet.item {
  min-width: 460px;
  min-height: 400px;
}

.chat-template.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(120, 120, 120, 0.5);
}

.chat-template.item.yellow {
    background: rgba(255, 255, 0, 0.1);
}
.chat-template.item.red {
    background: rgba(255, 0, 0, 0.1);
}
.chat-template.item.blue {
    background: rgba(0, 64, 255, 0.1);
}
.chat-template.item.green {
    background: rgba(0, 200, 0, 0.1);
}
.chat-template.item.orange {
    background: rgba(255, 128, 0, 0.1);
}

.chat-template.label {
    margin: 0;
    width: 50%;
    text-align: center;
}
.chat-template.description {
    text-align: center;
    font-style: italic;
}
.chat-template.roll {
    width: 50%;
    margin: 0;
    cursor: pointer;
    background-color: rgba(120, 120, 120, 0.1);
    text-align: center;
    font-weight: bold;
}

.chat-template.item.crit .roll {
    color: green;
}

.chat-template.item.fail .roll {
    color: #960000;
}

div.dnd.system {
    color: #000000;
    background-color: rgba(100, 100, 100, 0.5);
    padding: 2px;
    border-radius: 4px;
}

div.dnd.emote,
div.dnd.narrate {
    color: green;
    font-style: italic;
}

div.dnd.story {
    color: crimson;
    text-shadow: 1px 1px 0 black;
}

div.dnd.ooc {
    color: grey;
    background: lightgrey;
    border-radius: 4px;
    padding: 2px;
}

img.inline-img {
    display: inline;
    margin: 0 5px;
    vertical-align: middle;
    border: none;
}

img.dnd.emoji {
    display: inline;
    margin: 2px;
    vertical-align: middle;
    border: none;
}

#chat-controls .roll-type-select,
#chat-controls .chat-control-icon {
    display: none;
}

#pause img {
    content:url("../images/pause.png");
    animation: none;
}

form.item-create div.row {
    padding: 4px;
}

.dnd .inventory div.item {
    flex-flow: row nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.06);
    margin: 4px;
    border-radius: 2px;
}

.dnd .inventory div.item label {
    flex: 1;
    margin: 4px;
}

.dnd .inventory div.item a {
    margin: 4px;
}

.dnd.sheet nav.sheet-tabs {
    height: 40px;
}

.dnd .editor,
.dnd .editor-content {
    height: 100%;
}

.dnd .invisible {
    display: none;
}

.dnd .attribute-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 12px 4px;
}

.dnd .attribute-group.box {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.dnd .attribute-group.box span {
    flex: 0 0 100%;
    text-align: center;
    margin: 4px;
    font-weight: bold;
}

.dnd .scores span {
    background: rgba(0, 128, 255, 0.05);
}

.dnd .combat span {
    background: rgba(64, 0, 200, 0.05);
}

.dnd .hp span {
    background: rgba(128, 255, 0, 0.1);
}

.dnd .mana span {
    background: rgba(0, 255, 255, 0.05);
}

.dnd .attribute {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 2px 10px;
    width: 220px;
}

.dnd .attribute label {
    margin: 4px 10px;
}

.dnd .attribute input,
.dnd .attribute select {
    flex: 0 0 50px;
    text-align: center;
    margin: 2px;
}

.dnd .header {
    padding: 2px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #AAA;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}

.dnd .header {
    display: flex;
    flex-flow: row nowrap;
}

.dnd .header span {
    flex: 1;
    margin: 0px 4px;
}
.dnd .header span.select {
    flex: 0 0 100px;
    margin: 0px 4px;
}

.dnd .header .add-button {
    margin: 0px 4px;
}

.dnd .list {
    display: flex;
    flex-flow: column nowrap;
}

.dnd .list .row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 2px
}

.dnd .list .row input {
    flex: 1;
    margin: 4px;
}

.dnd .list .row select {
    flex: 0 0 100px;
    margin: 0px 4px;
}

.dnd .list .row .delete-button {
    margin: 4px;
}

.dnd .phrases .list .row input {
    font-family: monospace;
}

.dnd input.formula {
    font-family: monospace;
    flex: 0 0 140px;
}

.dnd .background-field {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 4px 4px 16px 4px;
}

.dnd .background-field span.info {
    flex: 0 0 100%;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 4px;
}

.dnd .background-field > * {
    margin: 6px;
}

.dnd .pronoun-field {
    margin: 6px;
}

.dnd .item-icon {
    border: none;
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.journal-sheet img,
.actor.sheet img {
    object-fit: contain;
    border: none;
}

.chat-message img {
    border: none;
}

.chat-message a.entity-link,
.journal-sheet a.entity-link,
.actor.sheet a.entity-link,
.item.sheet a.entity-link {
    line-height: 24px;
}

.chat-message a.entity-link i,
.journal-sheet a.entity-link i,
.actor.sheet a.entity-link i,
.item.sheet a.entity-link i {
    display: none;
}

.journal-sheet li,
.actor.sheet li,
.item.sheet li {
    margin: 8px 0px;
}

.journal-sheet a.item-link,
.actor.sheet a.item-link,
.item.sheet a.item-link {
    background: #DDD;
    padding: 1px 4px;
    border: 1px solid #4b4a44;
    border-radius: 2px;
    white-space: nowrap;
    word-break: break-all;
    line-height: 24px;
}

.dnd .skill-list {
    display: flex;
    flex-flow: column nowrap;
}

.dnd .skill-list .skill {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.dnd .skill-list .skill a {
    margin: 4px;
}

.dnd .skill-list .skill input.name {
    flex: 1;
}

.dnd .skill-list .skill input.value {
    flex: 0 0 48px;
    text-align: center;
}

.roll-results {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.roll-results .formula {
    margin: 4px;
    padding: 4px;
}

.roll-results .result {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.roll-results .term {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
}

.roll-results .operator {
    margin: 4px;
    padding: 4px;
}

.roll-results .die {
    font-weight: bold;
    border-radius: 2px;
    margin: 4px;
    padding: 4px;
    background-image: url("/icons/svg/d6-grey.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    font-size: 16px;
    line-height: 24px;
    width: 24px;
    text-align: center;
    padding: 0px;
}

.roll-results .die.d4 {
    background-image: url("/icons/svg/d6-grey.svg");
}

.roll-results .die.d8 {
    background-image: url("/icons/svg/d8-grey.svg");
}

.roll-results .die.d10 {
    background-image: url("/icons/svg/d10-grey.svg");
}

.roll-results .die.d12 {
    background-image: url("/icons/svg/d12-grey.svg");
}

.roll-results .die.d20 {
    background-image: url("/icons/svg/d20-grey.svg");
}

.roll-results .die.success {
    color: #18520b;
    filter: sepia(0.5) hue-rotate(60deg);
}

.roll-results .die.failure {
    color: #aa0200;
    filter: sepia(0.5) hue-rotate(-60deg);
}

.roll-results .die.modified {
    color: #0002aa;
    filter: sepia(0.5) hue-rotate(180deg);
}

.roll-controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.roll-controls a {
    padding: 6px;
}
.roll-controls span {
    margin: 6px;
}

.dnd.turn-update {
    text-align: center;
    font-size: 36px;
    padding: 2px;
    border-radius: 4px;
    color: black;
    border: 2px solid black;
    text-shadow: 1px 1px 0 black;
    box-shadow: 2px 2px 1px black;
}
.dnd.round-update {
    text-align: center;
    font-size: 24px;
    color: grey;
}

.dnd .attribute input.death-save-success {
    background: rgba(0, 255, 0, 0.05);
}

.dnd .attribute input.death-save-fail {
    background: rgba(255, 0, 0, 0.05);
}

.chat-message .chat-template.caption {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6px;
}
